<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Detect State</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-list-ol"></i> Detect State
            </li>
        </ol>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
        <label style="margin-left: 15px;">
            <input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Submit New Detection Request</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="$ctrl.submit()" name="detect-form">
                    <div class="form-group">
                        <label>From</label>
                        <div class="input-group"
                             moment-picker="$ctrl.request.start"
                             format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input class="form-control"
                                   ng-model="$ctrl.request.start"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   placeholder="Please select a date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <div class="input-group"
                             moment-picker="$ctrl.request.end"
                             format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input class="form-control"
                                   ng-model="$ctrl.request.end"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   placeholder="Please select a date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sample Rate</label>
                        <input type="number" class="form-control" required min="0" ng-model="$ctrl.request.sampleRate">
                    </div>
                    <div class="form-group">
                        <label>Max Number of Registers</label>
                        <input type="number" class="form-control" required min="0" ng-model="$ctrl.request.max">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">All Detection Requests</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='item in $ctrl.data'>
                                <td>{{$index + 1}}</td>
                                <td>
                                    <div ng-switch="item.value">
                                        <div ng-switch-when="true"><a href ng-click="$ctrl.download(item)"><i class="fa fa-download fa-fw"></i>Download csv</a></div>
                                        <div ng-switch-when="false"><i class="fa fa-spinner fa-spin fa-fw"></i> Loading Data</div>
                                    </div>
                                </td>
                                <td><a href ng-click="$ctrl.delete(item)">Delete Request</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>