<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Import State</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-list-ol"></i> Import State
            </li>
        </ol>
	</div>
</div>

<form role="form" ng-submit="$ctrl.submit()" name="feed-form">
	<div class="row">
		<div class="col-lg-6">
			<div class="form-group">
            	<label>File Path</label>
                <input class="form-control" required ng-model="$ctrl.filePath" placeholder="Enter a path on the server...">
            </div>
            <div class="form-group">
                <label>Import Mode: <toggle ng-model="$ctrl.isNew" on="new" off="update"></toggle></label>
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>