<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Launch Simulation Task</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-rocket"></i> Launch Simulation Task
            </li>
        </ol>
	</div>
</div>


<form role="form" ng-submit="$ctrl.submit()" name="simulation-form">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title"><i class="fa fa-info"></i> Task Info</h3>
		        </div>
		        <div class="panel-body">
		        	<div class="form-group">
	                	<label>Simulation Data Frequency</label>
	                    <input type="number" class="form-control" name="frequency" required min="100" max="30000" ng-model="$ctrl.simulation.frequency" placeholder="Events per second">
	                </div>
	                <div class="form-group">
	                	<label>From</label>
			        	<div class="input-group"
						     moment-picker="$ctrl.simulation.from"
						     format="YYYY-MM-DD HH:mm:ss">
						    <span class="input-group-addon">
						        <i class="fa fa-calendar"></i>
						    </span>
						    <input class="form-control"
						    	   ng-model="$ctrl.simulation.from"
       							   ng-model-options="{ updateOn: 'blur' }"
       							   required 
       							   name="startTime" 
						           placeholder="Please select a time">
		                </div>
	                </div>
	                <div class="form-group">
	                	<label>To</label>
			        	<div class="input-group"
						     moment-picker="$ctrl.simulation.to"
						     format="YYYY-MM-DD HH:mm:ss">
						    <span class="input-group-addon">
						        <i class="fa fa-calendar"></i>
						    </span>
						    <input class="form-control"
						    	   ng-model="$ctrl.simulation.to"
       							   ng-model-options="{ updateOn: 'blur' }"
       							   required
       							   name="endTime" 
						           placeholder="Please select a time">
		                </div>
	                </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button type="submit" class="btn btn-primary">Launch</button>
		</div>
	</div>
</form>