<div class="modal-header" id="modal-header">
	<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
	<h3 class="modal-title">Training Task Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<ul class="list-group">
				<li class="list-group-item active">Basics</li>
		        <li class="list-group-item"><i>Type:</i> {{$ctrl.item.displayType}}</li>
		        <li class="list-group-item"><i>Status:</i> {{$ctrl.item.status}}</li>
		        <li class="list-group-item"><i>Temporary:</i> {{$ctrl.item.temporary}}</li>
		        
		        <li class="list-group-item active">Training Data</li>
		        <li class="list-group-item"><i>Max Numeric Registers:</i> {{$ctrl.item.analyzerCreateData.maxNumeric}}</li>
		        <li class="list-group-item"><i>Min Numeric Register Count Per Day:</i> {{$ctrl.item.analyzerCreateData.minNumericValue}}</li>
		        <li class="list-group-item"><i>Max Non Numeric Registers:</i> {{$ctrl.item.analyzerCreateData.maxNonNumeric}}</li>
		        <li class="list-group-item"><i>Min Non Numeric Register Count Per Day:</i> {{$ctrl.item.analyzerCreateData.minNonNumericValue}}</li>

		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate === 0"><i>Sample Rate:</i> {{$ctrl.item.analyzerCreateData.sampleRate}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate === 0"><i>Upper Time Frame:</i> {{$ctrl.item.analyzerCreateData.upperTime}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate === 0"><i>Training Time:</i> {{$ctrl.item.analyzerCreateData.trainingDays}}</li>

		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate !== 0"><i>Group Induction Sample Rate:</i> {{$ctrl.item.analyzerCreateData.sampleRate}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate !== 0"><i>Group Induction Upper Time Frame:</i> {{$ctrl.item.analyzerCreateData.upperTime}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate !== 0"><i>Group Induction Training Time:</i> {{$ctrl.item.analyzerCreateData.trainingDays}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate !== 0"><i>Anomaly Model Sample Rate:</i> {{$ctrl.item.analyzerCreateData.anomalySampleRate}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate !== 0"><i>Anomaly Model Upper Time Frame:</i> {{$ctrl.item.analyzerCreateData.anomalyUpperTime}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.analyzerCreateData.anomalySampleRate !== 0"><i>Anomaly Model Training Time:</i> {{$ctrl.item.analyzerCreateData.anomalyTrainingDays}}</li>
		    </ul>
	    </div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
</div>
