<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Manage Training Tasks</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-wpforms"></i> Manage Training Tasks
            </li>
        </ol>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
        <label style="margin-left: 15px;">
            <input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create New Task</h3>
            </div>
            <div class="panel-body">
                <label>Mode: <toggle ng-model="$ctrl.auto" on="auto" off="manual"></toggle></label>
                <form ng-submit="$ctrl.autoSubmit()" name="task-form" ng-show="$ctrl.auto === true" style="margin-top: 10px">
                    <div class="form-group">
                        <label>Select Analyzer Type</label>
                        <select class="form-control" required ng-model="$ctrl.autoRequest.type" ng-change="$ctrl.reconfig()">
                            <option value="" disabled>Please choose a type</option>
                            <option ng-repeat="x in $ctrl.types" value="{{x.type}}" title="Supported type: {{x.support}}">{{x.displayType}}</option>
                        </select>
                    </div>
                    <label>Sample Rate</label>
                    <div class="form-group form-inline">
                        <div class="col-lg-4"><label>Min: <input type="number" class="form-control" required min="1" max="240" ng-model="$ctrl.autoRequest.sampleRateMin"></label></div>
                        <div class="col-lg-4"><label>Max: <input type="number" class="form-control" required min="1" max="240" ng-model="$ctrl.autoRequest.sampleRateMax"></label></div>
                        <div class="col-lg-4"><label>By: <input type="number" class="form-control" required min="-240" max="-1" ng-model="$ctrl.autoRequest.sampleRateInc"></label></div>
                    </div>
                    <label>Training Days</label>
                    <div class="form-group form-inline">
                        <div class="col-lg-4"><label>Min: <input type="number" class="form-control" required min="1" max="200" ng-model="$ctrl.autoRequest.trainingDaysMin"></label></div>
                        <div class="col-lg-4"><label>Max: <input type="number" class="form-control" required min="1" max="200" ng-model="$ctrl.autoRequest.trainingDaysMax"></label></div>
                        <div class="col-lg-4"><label>By: <input type="number" class="form-control" required min="1" max="200" ng-model="$ctrl.autoRequest.trainingDaysInc"></label></div>
                    </div>
                    <div class="form-group">
                        <label>Upper Time Frame</label>
                        <div class="input-group"
                             moment-picker="$ctrl.autoRequest.upperTime"
                             format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input class="form-control"
                                   ng-model="$ctrl.autoRequest.upperTime"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   placeholder="Select a date">
                        </div>
                    </div>

                    <label>Max Number of Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.autoRequest.type).numeric === false">(not supported)</small></label>
                    <div class="form-group form-inline">
                        <div class="col-lg-4"><label>Min: <input type="number" class="form-control" required min="1" max="20000" ng-model="$ctrl.autoRequest.numericMin" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).numeric === false"></label></div>
                        <div class="col-lg-4"><label>Max: <input type="number" class="form-control" required min="1" max="20000" ng-model="$ctrl.autoRequest.numericMax" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).numeric === false"></label></div>
                        <div class="col-lg-4"><label>By: <input type="number" class="form-control" required min="1" max="20000" ng-model="$ctrl.autoRequest.numericInc" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).numeric === false"></label></div>
                    </div>

                    <label>Max Number of Non-Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.autoRequest.type).nonNumeric === false">(not supported)</small></label>
                    <div class="form-group form-inline">
                        <div class="col-lg-4"><label>Min: <input type="number" class="form-control" required min="1" max="20000" ng-model="$ctrl.autoRequest.nonNumericMin" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).nonNumeric === false"></label></div>
                        <div class="col-lg-4"><label>Max: <input type="number" class="form-control" required min="1" max="20000" ng-model="$ctrl.autoRequest.nonNumericMax" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).nonNumeric === false"></label></div>
                        <div class="col-lg-4"><label>By: <input type="number" class="form-control" required min="1" max="20000" ng-model="$ctrl.autoRequest.nonNumericInc" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).nonNumeric === false"></label></div>
                    </div>

                    <div class="form-group">
                        <label>Min Daily Count of Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.autoRequest.type).numeric === false">(not supported)</small></label>
                        <input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).numeric === false" required min="0" max="500" ng-model="$ctrl.autoRequest.minNumeric">
                    </div>
                    <div class="form-group">
                        <label>Min Daily Count of Non-Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.autoRequest.type).nonNumeric === false">(not supported)</small></label>
                        <input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.autoRequest.type).nonNumeric === false" required min="0" max="200" ng-model="$ctrl.autoRequest.minNonNumeric">
                    </div>
                    <div class="form-group">
                        <label>Devices</label>
                        <input class="form-control" placeholder="Leave empty for all devices" ng-model="$ctrl.autoRequest.devices">
                    </div>
                    <div ng-show="$ctrl.autoConfig.target === true">
                        <div class="form-group">
                            <label>Registers Target File</label>
                            <input id="register-upload-target" 
                                   type="file" 
                                   class="form-control" 
                                   ng-required="$ctrl.autoConfig.target === true" 
                                   onchange="angular.element(this).scope().$ctrl.uploadAutoTarget(this)" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.autoRequest.temporary"> Delete analyzer after task finishes
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


                <form ng-submit="$ctrl.submit()" name="task-form" ng-show="$ctrl.auto === false" style="margin-top: 10px">
                    <div class="form-group">
                        <label>Select Analyzer Type</label>
                        <select class="form-control" required ng-model="$ctrl.request.type" ng-change="$ctrl.reconfig()">
                            <option value="" disabled>Please choose a type</option>
                            <option ng-repeat="x in $ctrl.types" value="{{x.type}}" title="Supported type: {{x.support}}">{{x.displayType}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label ng-show="$ctrl.config.twoTF === true">Group Induction Sample Rate</label>
                        <label ng-show="$ctrl.config.twoTF === false">Sample Rate</label>
                        <input type="number" class="form-control" required min="1" max="240" ng-model="$ctrl.request.sampleRate">
                    </div>
                    <div class="form-group">
                        <label ng-show="$ctrl.config.twoTF === true">Group Induction Upper Time Frame</label>
                        <label ng-show="$ctrl.config.twoTF === false">Upper Time Frame</label>
                        <div class="input-group"
                             moment-picker="$ctrl.request.upperTime"
                             format="YYYY-MM-DD">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input class="form-control"
                                   ng-model="$ctrl.request.upperTime"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   placeholder="Select a date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label ng-show="$ctrl.config.twoTF === true">Group Induction Training Days</label>
                        <label ng-show="$ctrl.config.twoTF === false">Training Days</label>
                        <input type="number" class="form-control" required min="1" max="200" ng-model="$ctrl.request.trainingDays">
                    </div>
                    <div ng-show="$ctrl.config.twoTF === true">
                        <div class="form-group">
                            <label>Anomaly Model Sample Rate</label>
                            <input type="number" class="form-control" ng-required="$ctrl.config.twoTF === true" min="1" max="240" ng-model="$ctrl.request.anomalySampleRate">
                        </div>
                        <div class="form-group">
                            <label>Anomaly Model Upper Time Frame</label>
                            <div class="input-group"
                                 moment-picker="$ctrl.request.anomalyUpperTime"
                                 format="YYYY-MM-DD">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input class="form-control"
                                       ng-model="$ctrl.request.anomalyUpperTime"
                                       ng-model-options="{ updateOn: 'blur' }"
                                       placeholder="Select a date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Anomaly Model Training Days</label>
                            <input type="number" class="form-control" ng-required="$ctrl.config.twoTF === true" min="1" max="200" ng-model="$ctrl.request.anomalyTrainingDays">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Max Number of Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.request.type).numeric === false">(not supported)</small></label>
                        <input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.request.type).numeric === false" required min="1" max="20000" ng-model="$ctrl.request.maxNumeric">
                    </div>
                    <div class="form-group">
                        <label>Min Daily Count of Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.request.type).numeric === false">(not supported)</small></label>
                        <input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.request.type).numeric === false" required min="0" max="500" ng-model="$ctrl.request.minNumericValue">
                    </div>
                    <div class="form-group">
                        <label>Max Number of Non-Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.request.type).nonNumeric === false">(not supported)</small></label>
                        <input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.request.type).nonNumeric === false" required min="0" max="20000" ng-model="$ctrl.request.maxNonNumeric">
                    </div>
                    <div class="form-group">
                        <label>Min Daily Count of Non-Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.request.type).nonNumeric === false">(not supported)</small></label>
                        <input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.request.type).nonNumeric === false" required min="0" max="200" ng-model="$ctrl.request.minNonNumericValue">
                    </div>
                    <div class="form-group">
                        <label>Devices</label>
                        <input class="form-control" placeholder="Leave empty for all devices" ng-model="$ctrl.request.devices">
                    </div>
                    <div ng-show="$ctrl.config.target === true">
                        <div class="form-group">
                            <label>Registers Target File</label>
                            <input id="register-upload-target" 
                                   type="file" 
                                   class="form-control" 
                                   ng-required="$ctrl.config.target === true" 
                                   onchange="angular.element(this).scope().$ctrl.uploadTarget(this)" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="$ctrl.request.temporary"> Delete analyzer after task finishes
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">All Training Tasks</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Analyzer Type</th>
                                <th>Status</th>
                                <th>Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='item in $ctrl.data'>
                                <td>{{$index + 1}}</td>
                                <td>{{item.displayType}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <a href ng-click="$ctrl.detail(item)"><i class="fa fa-fw fa-info"></i> Details
                                </td>
                                <td>
                                    <button class="btn" ng-click="$ctrl.delete(item)" ng-disabled="item.status === 'Running'">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>