<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Feed Register Value</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-arrow-circle-o-right"></i> Feed Register Value
            </li>
        </ol>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  Sends register value to the real time analysis framework. Useful for rule testing.
        </div>
    </div>
</div>

<form role="form" ng-submit="$ctrl.submit()" name="feed-form">
	<div class="row">
		<div class="col-lg-12">
			<div class="form-group">
            	<label>Register Id</label>
                <input type="number" class="form-control" required ng-model="$ctrl.registerId" placeholder="Enter an id...">
            </div>
            <div class="form-group">
            	<label>Register Value</label>
                <input type="number" step="any" class="form-control" required ng-model="$ctrl.value" placeholder="Enter a value...">
            </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button type="submit" class="btn btn-primary">Feed</button>
		</div>
	</div>
</form>