<div class="modal-header" id="modal-header">
	<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
	<h3 class="modal-title">{{$ctrl.mode}} Subscriber</h3>
</div>
<form role="form" ng-submit="$ctrl.submit()">
	<div class="modal-body" id="modal-body">
		<div class="form-group">
            <label>Name: </label>
            <input class="form-control" placeholder="Enter a name" required ng-model="$ctrl.subscriber.name">
        </div>
        <div class="form-group">
            <label>Email Address: </label>
            <input class="form-control" type="email" placeholder="Enter an email" required ng-model="$ctrl.subscriber.address">
        </div>
        <div class="form-group">
            <label>Notification Level: </label>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="$ctrl.subscriber.level" uib-btn-radio="0">No Notification</label>
                <label class="btn btn-primary" ng-model="$ctrl.subscriber.level" uib-btn-radio="1">Error Only</label>
                <label class="btn btn-primary" ng-model="$ctrl.subscriber.level" uib-btn-radio="2">All Notification</label>
            </div>
        </div>
        <div class="form-group">
            <label>Email Subject template: </label>
            <input class="form-control" maxlength="100" placeholder="Enter a template" required ng-model="$ctrl.subscriber.subjectTemplate">
        </div>
        <div class="form-group">
            <label>Email Body template: </label>
            <textarea class="form-control" maxlength="500" placeholder="Enter a template" required rows="6" ng-model="$ctrl.subscriber.bodyTemplate"></textarea>
        </div>
        <p class="text-muted">Note: In the template, you can refer to the following
        	<ul>
        		<li class="text-muted"><i>$level$</i>: Notification Level</li>
        		<li class="text-muted"><i>$id$</i>: Analyzer Id</li>
        		<li class="text-muted"><i>$status$</i>: Analyzer Status</li>
        		<li class="text-muted"><i>$error$</i>: Error Message for the Analyzer</li>
        	</ul>
        </p>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary"> Submit</button>
		<button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
	</div>
</form>
