<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Manage Subscription</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-envelope"></i> Manage Subscription
            </li>
        </ol>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Notification Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='item in $ctrl.data'>
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.displayLevel}}</td>
                        <td>
                            <button class="btn btn-primary" style="margin-right: 10px" ng-click="$ctrl.update(item)">Edit</button>
                            <button class="btn btn-danger" ng-click="$ctrl.delete(item)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" ng-click="$ctrl.add()">Add Subscriber</button>
    </div>
</div>