<div class="row">
	<div class="col-lg-12">
			<h1 class="page-header">Training Report for Analyzer '{{$ctrl.params.n}}'  (id={{$ctrl.params.i}})</h1>
			<ol class="breadcrumb">
				<li>
                    <i class="fa fa-table"></i> <a href="/analytics#!/show-analyzers">All Analyzers</a>
                </li>
                <li class="active">
                    <i class="fa fa-list-alt"></i> Training Report
                </li>
            </ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
		<label style="margin-left: 15px;">
			<input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
		</label>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Status</th>
						<th>Schedule</th>
						<th>Training Start</th>
						<th>Component</th>
						<th>Training Duration</th>
						<th>Data Start</th>
						<th>Data End</th>
						<th>Error</th>
						<th>Semantic Units</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="modelReport in $ctrl.data">
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{$index + 1}}</td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.status}}</td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.schedule}}</td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.startTime}}</td>
						<td>{{modelReport.name}}</td>
						<td>{{modelReport.duration}}</td>
						<td>{{modelReport.dataStartTime}}</td>
						<td>{{modelReport.dataEndTime}}</td>
						<td>{{modelReport.error}}</td>
						<td><p ng-repeat="(suType, su) in modelReport.su">{{suType}}: {{su.count}}<br><a href ng-click="$ctrl.showSU(modelReport.record.recordId, suType)"><i class="fa fa-fw {{su.faClass}}"></i>{{su.action}}</a></p></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>