<div class="row">
	<div class="col-lg-12">
			<h1 class="page-header">Training History</h1>
			<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-history"></i> Training History
                </li>
            </ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
		<label style="margin-left: 15px;">
			<input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
		</label>
		<label style="margin-left: 15px;">
			<input type="checkbox" ng-model="$ctrl.showArchived"> Show Deleted Analyzer
		</label>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th><a href ng-click="$ctrl.selectSort('record.analyzerDisplay')">Analyzer</a></th>
						<th><a href ng-click="$ctrl.selectSort('record.status')">Status</a></th>
						<th><a href ng-click="$ctrl.selectSort('record.startTime')">Training Start</a></th>
						<th><a href ng-click="$ctrl.selectSort('record.registersFound')">Registers Found</a></th>
						<th>Component</th>
						<th>Training Duration</th>
						<th>Data Start</th>
						<th>Data End</th>
						<th>Error</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="modelReport in $ctrl.history | filter:$ctrl.canShow | orderBy:$ctrl.sortType">
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{$index + 1}}</td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.analyzerDisplay}})<br><a href ng-click="$ctrl.detail($ctrl.analyzers[modelReport.record.analyzerId])"><i class="fa fa-fw fa-info"></i> Details</a></td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.status}}</td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.startTime}}</td>
						<td rowspan="{{modelReport.record.span}}" ng-show="modelReport.showRecord">{{modelReport.record.registersFound}}</td>
						<td>{{modelReport.name}}</td>
						<td>{{modelReport.duration}}</td>
						<td>{{modelReport.dataStartTime}}</td>
						<td>{{modelReport.dataEndTime}}</td>
						<td>{{modelReport.error}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>