<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Create Analyzer</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-plus"></i> Create Analyzer
            </li>
        </ol>
	</div>
</div>


<form role="form" ng-submit="$ctrl.submit()" name="analyzer-form">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title"><i class="fa fa-info"></i> Basic Info</h3>
		        </div>
		        <div class="panel-body">
		            <div class="form-group">
						<label>Select Analyzer Type</label>
						<select class="form-control" required ng-model="$ctrl.analyzer.type" ng-change="$ctrl.reconfig()">
							<option value="" disabled>Please choose a type</option>
							<option ng-repeat="x in $ctrl.data" value="{{x.type}}" title="Supported type: {{x.support}}">{{x.displayType}}</option>
						</select>
			        </div>
		        	<div class="form-group">
	                    <label>Name</label>
	                    <input name="name" class="form-control" placeholder="Enter name" required ng-model="$ctrl.analyzer.name">
	                </div>
	                <div class="form-group">
	                    <label>Description</label>
	                    <input name="description" class="form-control" placeholder="Enter description" required ng-model="$ctrl.analyzer.description">
	                </div>
	                <div class="form-group">
	                	<label>Activate Monitor: <toggle ng-model="$ctrl.analyzer.active"></toggle></label>
						<label style="margin-left: 20px">Make Visible: <toggle ng-model="$ctrl.analyzer.visible"></toggle></label>
	                </div>
		        </div>
		    </div>
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title"><i class="fa fa-clock-o"></i> Configure Training Data Time Frame</h3>
		        </div>
		        <div class="panel-body">
	                <div class="form-group">
	                    <label ng-show="$ctrl.config.twoTF === true">Group Induction Sample Rate</label>
	                    <label ng-show="$ctrl.config.twoTF === false">Sample Rate</label>
	                    <input type="number" class="form-control" required min="1" max="240" ng-model="$ctrl.analyzer.sampleRate">
	                </div>
	                <div class="form-group">
	                	<label ng-show="$ctrl.config.twoTF === true">Group Induction Upper Time Frame</label>
	                	<label ng-show="$ctrl.config.twoTF === false">Upper Time Frame</label>
	                    <div class="input-group"
						     moment-picker="$ctrl.analyzer.upperTime"
						     format="YYYY-MM-DD">
						    <span class="input-group-addon">
						        <i class="fa fa-calendar"></i>
						    </span>
						    <input class="form-control"
						    	   ng-model="$ctrl.analyzer.upperTime"
       							   ng-model-options="{ updateOn: 'blur' }"
						           placeholder="Select a date">
						</div>
	                </div>
	                <div class="form-group">
	                	<label ng-show="$ctrl.config.twoTF === true">Group Induction Training Days</label>
	                    <label ng-show="$ctrl.config.twoTF === false">Training Days</label>
	                    <input type="number" class="form-control" required min="1" max="200" ng-model="$ctrl.analyzer.trainingDays">
	                </div>
		            <div ng-show="$ctrl.config.twoTF === true">
						<div class="form-group">
		                    <label>Anomaly Model Sample Rate</label>
		                    <input type="number" class="form-control" ng-required="$ctrl.config.twoTF === true" min="1" max="240" ng-model="$ctrl.analyzer.anomalySampleRate">
		                </div>
		                <div class="form-group">
		                	<label>Anomaly Model Upper Time Frame</label>
		                    <div class="input-group"
							     moment-picker="$ctrl.analyzer.anomalyUpperTime"
							     format="YYYY-MM-DD">
							    <span class="input-group-addon">
							        <i class="fa fa-calendar"></i>
							    </span>
							    <input class="form-control"
							    	   ng-model="$ctrl.analyzer.anomalyUpperTime"
	       							   ng-model-options="{ updateOn: 'blur' }"
							           placeholder="Select a date">
							</div>
		                </div>
		                <div class="form-group">
		                	<label>Anomaly Model Training Days</label>
		                    <input type="number" class="form-control" ng-required="$ctrl.config.twoTF === true" min="1" max="200" ng-model="$ctrl.analyzer.anomalyTrainingDays">
		                </div>
		            </div>
		        </div>
		    </div>
	    </div>
	    <div class="col-lg-6">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title"><i class="fa fa-database"></i> Configure Training Data Source</h3>
		        </div>
		        <div class="panel-body">
	                <div class="form-group">
						<label>Select Input Source</label>
						<select class="form-control" required ng-model="$ctrl.analyzer.dataSource">
							<option value="" disabled>Please choose an input source</option>
							<option value="db">Active registers in DB</option>
							<option value="file">Registers list in file</option>
						</select>
			        </div>
			        <div ng-show="$ctrl.analyzer.dataSource == 'file'">
			        	<div class="form-group">
		                    <label>Registers List File</label>
		                    <input id="register-upload-input" 
		                    	   type="file" 
		                    	   class="form-control" 
		                    	   ng-required="$ctrl.analyzer.dataSource == 'file'" 
		                    	   onchange="angular.element(this).scope().$ctrl.uploadInput(this)" >
	                	</div>
			        </div>
			        <div ng-show="$ctrl.analyzer.dataSource == 'db'">
			        	<div class="form-group">
		                    <label>Max Number of Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.analyzer.type).numeric === false">(not supported)</small></label>
	                    	<input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.analyzer.type).numeric === false" ng-required="$ctrl.analyzer.dataSource == 'db'" min="1" max="20000" ng-model="$ctrl.analyzer.maxNumeric">
	                	</div>
	                	<div class="form-group">
		                    <label>Min Daily Count of Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.analyzer.type).numeric === false">(not supported)</small></label>
	                    	<input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.analyzer.type).numeric === false" ng-required="$ctrl.analyzer.dataSource == 'db'" min="0" max="500" ng-model="$ctrl.analyzer.minNumericValue">
	                	</div>
	                	<div class="form-group">
		                    <label>Max Number of Non-Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.analyzer.type).nonNumeric === false">(not supported)</small></label>
	                    	<input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.analyzer.type).nonNumeric === false" ng-required="$ctrl.analyzer.dataSource == 'db'" min="0" max="20000" ng-model="$ctrl.analyzer.maxNonNumeric">
	                	</div>
	                	<div class="form-group">
		                    <label>Min Daily Count of Non-Numeric Registers <small ng-show="$ctrl.dataType.get($ctrl.analyzer.type).nonNumeric === false">(not supported)</small></label>
	                    	<input type="number" class="form-control" ng-disabled="$ctrl.dataType.get($ctrl.analyzer.type).nonNumeric === false" ng-required="$ctrl.analyzer.dataSource == 'db'" min="0" max="200" ng-model="$ctrl.analyzer.minNonNumericValue">
	                	</div>
	                	<div class="form-group">
		                    <label>Devices</label>
		                    <input class="form-control" placeholder="Leave empty for all devices" ng-model="$ctrl.analyzer.devices">
	                	</div>
			        </div>
			        <div ng-show="$ctrl.config.target === true">
			        	<div class="form-group">
		                    <label>Registers Target File</label>
		                    <input id="register-upload-target" 
		                    	   type="file" 
		                    	   class="form-control" 
		                    	   ng-required="$ctrl.config.target === true" 
		                    	   onchange="angular.element(this).scope().$ctrl.uploadTarget(this)" >
	                	</div>
			        </div>
		        </div>
		    </div>
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <h3 class="panel-title"><i class="fa fa-bell-o"></i> Configure Notification</h3>
		        </div>
		        <div class="panel-body">
		        	<div class="form-group">
		            	<label>Enable Notification: <toggle ng-model="$ctrl.enableNot"></toggle></label>
			        </div>
			        <div ng-show="$ctrl.enableNot">
			        	<div class="form-group">
		                    <label>Email Address</label>
		                    <input type="email" class="form-control" placeholder="Enter email" ng-required="$ctrl.enableNot" ng-model="$ctrl.analyzer.emailAddress">
	                	</div>
	                	<div class="form-group">
		                    <label>Email Subject</label>
		                    <input class="form-control" placeholder="Enter Subject" ng-required="$ctrl.enableNot" ng-model="$ctrl.analyzer.emailSubject" minlength="5">
	                	</div>
	                	<div class="form-group">
		                    <label>Email Body</label>
		                    <input class="form-control" placeholder="Enter Body" ng-required="$ctrl.enableNot" ng-model="$ctrl.analyzer.emailBody" minlength="10">
	                	</div>
	                	<div class="form-group">
		                    <label>Suppression before email (in seconds)</label>
	                    	<input type="number" class="form-control" ng-required="$ctrl.enableNot" min="0" max="86400" ng-model="$ctrl.analyzer.suppress">
	                	</div>
			        </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>