<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Manage MQTT Devices</h1>
		<ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-desktop"></i> Manage MQTT Devices
            </li>
        </ol>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
        <label style="margin-left: 15px;">
            <input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
        </label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Create New MQTT Device</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="$ctrl.submit()" name="mqtt-form">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" required ng-model="$ctrl.request.name" placeholder="Enter a name">
                    </div>
                    <div class="form-group">
                        <label>Indentifier</label>
                        <input class="form-control" required ng-model="$ctrl.request.identifier" placeholder="Enter am identifier">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input class="form-control" required ng-model="$ctrl.request.address" placeholder="Enter an address">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">All MQTT Devices</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Identifier</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='item in $ctrl.data'>
                                <td>{{$index + 1}}</td>
                                <td>{{item.givenName}}</td>
                                <td>{{item.identifier}}</td>
                                <td>{{item.address}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>