<div class="row">
	<div class="col-lg-12">
			<h1 class="page-header">Elastic Search Repositories</h1>
			<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-archive"></i> Elastic Search Repositories
                </li>
            </ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
		<label style="margin-left: 15px;">
			<input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
		</label>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Document Count</th>
						<th>Storage Size</th>
						<th>Indices Count</th>
						<th>Indices Names</th>
						<th>Documents with Shared Indices</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='item in $ctrl.data'>
						<td>{{$index + 1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.docCount}}</td>
						<td>{{item.storeSize}}</td>
						<td>{{item.indicesCount}}</td>
						<td>{{item.indicesNames}}</td>
						<td>{{item.otherDocTypesInIndex}}</td>
						<td>
							<button class="btn" ng-click="$ctrl.clear(item)" style="margin-right: 10px">clear</button>
							<button class="btn" ng-click="$ctrl.clearInsert(item)" style="margin-right: 10px">clear and insert all</button>
							<button class="btn" ng-click="$ctrl.insertUpdate(item)">insert or update all</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>