<div class="row">
	<div class="col-lg-12">
			<h1 class="page-header">Track Simulation Tasks</h1>
			<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-tasks"></i> Track Simulation Tasks
                </li>
            </ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
		<label style="margin-left: 15px;">
			<input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
		</label>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">Currently Running</h3>
		    </div>
		    <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Frequency</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th># Values Processed</th>
								<th>Progress</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in $ctrl.data.running'>
								<td>{{item.frequency | number}}</td>
								<td>{{item.start}}</td>
								<td>{{item.end}}</td>
								<td>{{item.processed | number}}</td>
								<td style="min-width: 120px">
									<uib-progressbar max="100" value="item.progress"><span style="color:white; white-space:nowrap;">{{item.progress | number:2}}%</span></uib-progressbar>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p><b>Events Queue Condition:</b></p>
				<uib-progressbar max="$ctrl.data.queueSizeMax" value="$ctrl.data.queueSize" type="{{$ctrl.data.type}}"><span style="color:white; white-space:nowrap;">{{$ctrl.data.queueSize + '/' + $ctrl.data.queueSizeMax}}</span></uib-progressbar>
				<button class="btn btn-danger" ng-click="$ctrl.removeRunning()" ng-disabled="$ctrl.data.running.length === 0">Terminate Task</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">Analyzer Stats</h3>
		    </div>
		    <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Analyzer ID</th>
								<th>Type</th>
								<th>Monitor Type</th>
								<th>Average Query Time (ms)</th>
								<th>Moving Average Query Time (ms)</th>
								<th>Last Query Time (ms)</th>
								<th>Max Query Time (ms)</th>
								<th>Total Hits</th>
								<th>Anomalies Found</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in $ctrl.data.analyzerStats | orderBy: "+analyzer.id"'>
								<td>{{item.analyzer.id}}</td>
								<td>{{item.analyzer.displayType}}</td>
								<td>{{item.type}}</td>
								<td>{{item.avgTime | number:2}}</td>
								<td>{{item.lastAvgTime | number:2}}</td>
								<td>{{item.lastTime | number:2}}</td>
								<td>{{item.maxTime | number:2}}</td>
								<td>{{item.hits | number}}</td>
								<td>{{item.anomalies | number}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button class="btn btn-danger" ng-click="$ctrl.removeStatistics()" ng-disabled="$ctrl.data.analyzerStats.length === 0">Clear Statistics</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">Waiting</h3>
		    </div>
		    <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Frequency</th>
								<th>Start Time</th>
								<th>End Time</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat='item in $ctrl.data.waiting'>
								<td>{{item.frequency | number}}</td>
								<td>{{item.start}}</td>
								<td>{{item.end}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button class="btn btn-danger" ng-click="$ctrl.removeWaiting()" ng-disabled="$ctrl.data.waiting.length === 0">Remove All</button>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="$ctrl.motif">
	<div class="col-lg-12">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		        <h3 class="panel-title">Motif Cache</h3>
		    </div>
		    <div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>Total Size</th>
								<th>Min Size</th>
								<th>Max Size</th>
								<th>Avg Size</th>
								<th># Caches</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{$ctrl.data.cacheSizeTotal | number:2}}</td>
								<td>{{$ctrl.data.cacheSizeMin | number:2}}</td>
								<td>{{$ctrl.data.cacheSizeMax | number:2}}</td>
								<td>{{$ctrl.data.cacheSizeAvg | number:2}}</td>
								<td>{{$ctrl.data.cacheNum | number}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>