<div class="row">
	<div class="col-lg-12">
			<h1 class="page-header">Manage Analyzers</h1>
			<ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-table"></i> Manage Analyzers
                </li>
            </ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-sm btn-primary" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.enableAutoRefresh"><i class="fa fa-refresh"></i> refresh</button>
		<label style="margin-left: 15px;">
			<input type="checkbox" ng-model="$ctrl.enableAutoRefresh" ng-change="$ctrl.startAutoRefresh()"> Auto Refresh
		</label>
	</div>
</div>
<br>
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Type</th>
						<th>Name</th>
						<th>Status</th>
						<th>Real Time Analysis</th>
						<th>Visibility</th>
						<th>Actions</th>
						<th>Training Report</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='item in $ctrl.data'>
						<td>{{item.id}}</td>
						<td>{{item.displayType}}</td>
						<td>{{item.name}}</td>
						<td>
							<p ng-repeat="(k, v) in item.status">
								{{k}}: {{v}}
							</p>
						</td>
						<td>
							<toggle ng-model="item.active" ng-change="$ctrl.toggleActive(item)" on="active" off="inactive"></toggle>
						</td>
						<td>
							<toggle ng-model="item.visible" ng-change="$ctrl.toggleVisible(item)"></toggle>
						</td>
						<td>
							<a href ng-click="$ctrl.delete(item)" style="white-space:nowrap;">Delete Analyzer</a> | 
							<a href ng-click="$ctrl.train(item)" style="white-space:nowrap;">Start Training</a> | 
							<a href ng-click="$ctrl.stop(item)" style="white-space:nowrap;">Stop Training</a> | 
							<a href ng-click="$ctrl.schedule(item)" style="white-space:nowrap;">Scheduling</a>
						</td>
						<td>
							<a href="/analytics#!/train-report?n={{item.name}}&t={{item.type}}&i={{item.id}}"><i class="fa fa-fw fa-list-alt"></i> Show Report</a>
						</td>
						<td>
							<a href ng-click="$ctrl.detail(item)"><i class="fa fa-fw fa-info"></i> Details</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>