<div class="modal-header" id="modal-header">
	<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
	<h3 class="modal-title">Analyzer Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="row">
		<div class="col-lg-12">
			<ul class="list-group">
				<li class="list-group-item active">Basics</li>
		        <li class="list-group-item"><i>ID:</i> {{$ctrl.item.id}}</li>
		        <li class="list-group-item"><i>Type:</i> {{$ctrl.item.displayType}}</li>
		        <li class="list-group-item"><i>Name:</i> {{$ctrl.item.name}}</li>
		        <li class="list-group-item"><i>Description:</i> {{$ctrl.item.desc}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.status !== null"><i>Status:</i> <br>
		        	<p ng-repeat="(k, v) in $ctrl.item.status" style="margin-left: 15px">
						{{k}}: {{v}}
					</p>
		        </li>
		        <li class="list-group-item" ng-show="$ctrl.item.status === null"><i>Status:</i> not available
		        </li>
		        <li class="list-group-item" ng-show="$ctrl.item.analysisEngine !== null"><i>Real Time Analysis:</i> {{$ctrl.item.analysisEngine.active}}</li>
		        <li class="list-group-item"  ng-show="$ctrl.item.analysisEngine !== null"><i>Visibility:</i> {{$ctrl.item.analysisEngine.visible}}</li>
		        
		        <li class="list-group-item active">Training Data</li>
		        <li class="list-group-item"><i>Data Source:</i> {{$ctrl.item.source}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.source === 'database' && $ctrl.item.dbInput.maxNumeric !== null"><i>Max Numeric Registers:</i> {{$ctrl.item.dbInput.maxNumeric}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.source === 'database' && $ctrl.item.dbInput.minNumericValue !== null"><i>Min Numeric Register Count Per Day:</i> {{$ctrl.item.dbInput.minNumericValue}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.source === 'database' && $ctrl.item.dbInput.maxNonNumeric !== null"><i>Max Non Numeric Registers:</i> {{$ctrl.item.dbInput.maxNonNumeric}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.source === 'database' && $ctrl.item.dbInput.minNonNumericValue !== null"><i>Min Non Numeric Register Count Per Day:</i> {{$ctrl.item.dbInput.minNonNumericValue}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === false"><i>Sample Rate:</i> {{$ctrl.item.sampleRate}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === false"><i>Upper Time Frame:</i> {{$ctrl.item.upperTime}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === false"><i>Training Time:</i> {{$ctrl.item.trainingDays}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === true"><i>Group Induction Sample Rate:</i> {{$ctrl.item.sampleRate}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === true"><i>Group Induction Upper Time Frame:</i> {{$ctrl.item.upperTime}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === true"><i>Group Induction Training Time:</i> {{$ctrl.item.trainingDays}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === true"><i>Anomaly Model Sample Rate:</i> {{$ctrl.item.anomalySampleRate}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === true"><i>Anomaly Model Upper Time Frame:</i> {{$ctrl.item.anomalyUpperTime}}</li>
		        <li class="list-group-item" ng-show="$ctrl.item.twoTF === true"><i>Anomaly Model Training Time:</i> {{$ctrl.item.anomalyTrainingDays}}</li>

				<li class="list-group-item active">Scheduling</li>
				<li class="list-group-item"><i>Schedule:</i> {{$ctrl.item.schedule}}</li>

				<li class="list-group-item active">Notification</li>
				<li class="list-group-item"><i>Enabled:</i> {{$ctrl.item.subscribed}}</li>
				<li class="list-group-item" ng-show="$ctrl.item.subscribed === 'Yes'"><i>Receiver:</i> {{$ctrl.item.analysisEngine.receiver}}</li>
				<li class="list-group-item" ng-show="$ctrl.item.subscribed === 'Yes'"><i>Receiver Email:</i> {{$ctrl.item.analysisEngine.emailAddress}}</li>
				<li class="list-group-item" ng-show="$ctrl.item.subscribed === 'Yes'"><i>Notification Subject:</i> {{$ctrl.item.analysisEngine.emailSubject}}</li>
				<li class="list-group-item" ng-show="$ctrl.item.subscribed === 'Yes'"><i>Notification Body:</i> {{$ctrl.item.analysisEngine.emailBody}}</li>
				<li class="list-group-item" ng-show="$ctrl.item.subscribed === 'Yes'"><i>Suppression in Seconds:</i> {{$ctrl.item.analysisEngine.suppress}}</li>
		    </ul>
	    </div>
    </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
</div>
