<div class="modal-header" id="modal-header">
	<button type="button" class="close" ng-click="$ctrl.cancel()">&times;</button>
	<h3 class="modal-title">Configure Scheduling for Analyzer: '{{$ctrl.item.name}}' (id={{$ctrl.item.id}})</h3>
</div>
<div class="modal-body" id="modal-body">
	<h4>Current Scheduling: {{$ctrl.item.schedule}}</h4>
	<br>
	<div>
		<form role="form" ng-submit="$ctrl.create()">
			<div class="form-group">
                <label>New Scheduling: </label>
                <input class="form-control" placeholder="Enter a cron expression" required ng-model="$ctrl.cron">
            </div>

            <button type="submit" 
                    class="btn btn-primary" 
                    ng-disabled="$ctrl.disabled.create">Submit</button>

            <button class="btn btn-danger" 
            		ng-click="$ctrl.remove()" 
            		ng-disabled="$ctrl.disabled.remove || !$ctrl.set" 
            		style="margin-left: 10px;">Remove Current</button>

			<button class="btn btn-warning" 
					ng-click="$ctrl.suspend()" 
					ng-disabled="$ctrl.disabled.suspend" 
					ng-show="$ctrl.item.scheduleState !== undefined && $ctrl.item.scheduleState == true" 
					style="margin-left: 10px;">Suspend</button>

			<button class="btn btn-warning" 
					ng-click="$ctrl.resume()" 
					ng-disabled="$ctrl.disabled.resume" 
					ng-show="$ctrl.item.scheduleState !== undefined && $ctrl.item.scheduleState == false" 
					style="margin-left: 10px;">Resume</button>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
</div>
